@using DBPortal.Models;
@model List<InventoryModel>
@foreach (var inv in Model)
            {
    <tr>
        <td>@inv.ServerID</td>
        <td>@inv.ServerIP</td>
        <td>@inv.ServerPort</td>
        <td>@inv.Name</td>
        <td>@inv.InstanceName</td>
        <td>@inv.SQLVersion</td>
        <td>@inv.Edition</td>
        <td>@inv.OSVesion</td>
        <td>@inv.ServeType</td>
        <td>@inv.IsActive</td>
        <td>@inv.ServerEnv</td>
        <td>@inv.Description</td>
        <td>@inv.CommonName</td>
        <td>@inv.CMDB_Location</td>
    </tr>
}

